<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

   <bean id = "welcomeText" class = "hu.vmatthias.foxandhounds.texts.WelcomeText">
      <property name = "text" value = "playround, save, load, exit"/>
   </bean>
	
	<bean id = "HoundSelectText" class = "hu.vmatthias.foxandhounds.texts.HoundSelectText">
      <property name = "htext" value = "Please select your hound(R/C[0-7]"/>
   </bean>
   
   <bean id = "FoxSelectText" class = "hu.vmatthias.foxandhounds.texts.FoxSelectText">
      <property name = "ftext" value = "Please select your fox(R/C[0-7]"/>
   </bean>
   
</beans>